{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAQ",
    "description": "OpenAQ API",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.openaq.org/"
    }
  ],
  "paths": {
    "/v3/instruments/{instruments_id}": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get an instrument by ID",
        "description": "Provides a instrument by instrument ID",
        "operationId": "instrument_get_v3_instruments__instruments_id__get",
        "parameters": [
          {
            "name": "instruments_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Limit the results to a specific instruments id",
              "title": "Instruments Id"
            },
            "description": "Limit the results to a specific instruments id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/instruments": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get instruments",
        "description": "Provides a list of instruments",
        "operationId": "instruments_get_v3_instruments_get",
        "parameters": [
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/InstrumentsSortFields"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The field by which to order results",
              "examples": ["order_by=id"],
              "default": "id",
              "title": "Order By"
            },
            "description": "The field by which to order results"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort results ascending or descending. Default ASC",
              "examples": ["sort=desc"],
              "default": "asc",
              "title": "Sort Order"
            },
            "description": "Sort results ascending or descending. Default ASC"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results",
              "examples": ["100"],
              "default": 100,
              "title": "Limit"
            },
            "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "examples": ["1"],
              "default": 1,
              "title": "Page"
            },
            "description": "Paginate through results. e.g. page=1 will return first page of results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/manufacturers/{manufacturers_id}/instruments": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get instruments by manufacturer ID",
        "description": "Provides a list of instruments for a specific manufacturer",
        "operationId": "get_instruments_by_manufacturer_v3_manufacturers__manufacturers_id__instruments_get",
        "parameters": [
          {
            "name": "manufacturers_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Limit results to a specific manufacturer id",
              "title": "Manufacturers Id"
            },
            "description": "Limit results to a specific manufacturer id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/locations/{locations_id}": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get a location by ID",
        "description": "Provides a location by location ID",
        "operationId": "location_get_v3_locations__locations_id__get",
        "parameters": [
          {
            "name": "locations_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Limit the results to a specific location by id",
              "title": "Locations Id"
            },
            "description": "Limit the results to a specific location by id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/openaq_api__v3__models__responses__LocationsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/locations": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get locations",
        "description": "Provides a list of locations",
        "operationId": "locations_get_v3_locations_get",
        "parameters": [
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/LocationsSortFields"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The field by which to order results",
              "examples": ["order_by=id"],
              "default": "id",
              "title": "Order By"
            },
            "description": "The field by which to order results"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort results ascending or descending. Default ASC",
              "examples": ["sort=desc"],
              "default": "asc",
              "title": "Sort Order"
            },
            "description": "Sort results ascending or descending. Default ASC"
          },
          {
            "name": "monitor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Is the location considered a reference monitor?",
              "title": "Monitor"
            },
            "description": "Is the location considered a reference monitor?"
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Is the location considered a mobile location?",
              "title": "Mobile"
            },
            "description": "Is the location considered a mobile location?"
          },
          {
            "name": "iso",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit the results to a specific country using ISO 3166-1 alpha-2 code",
              "examples": ["US"],
              "title": "Iso"
            },
            "description": "Limit the results to a specific country using ISO 3166-1 alpha-2 code"
          },
          {
            "name": "countries_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit the results to a specific country or countries by country ID as a single country ID or a comma delimited list of IDs",
              "examples": ["1", "1,2,3"],
              "title": "Countries Id"
            },
            "description": "Limit the results to a specific country or countries by country ID as a single country ID or a comma delimited list of IDs"
          },
          {
            "name": "owner_contacts_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit the results to a specific owner by owner ID with a single owner ID or comma delimited list of IDs",
              "title": "Owner Contacts Id"
            },
            "description": "Limit the results to a specific owner by owner ID with a single owner ID or comma delimited list of IDs"
          },
          {
            "name": "providers_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit the results to a specific provider or multiple providers  with a single provider ID or a comma delimited list of IDs",
              "examples": ["1", "1,2,3"],
              "title": "Providers Id"
            },
            "description": "Limit the results to a specific provider or multiple providers  with a single provider ID or a comma delimited list of IDs"
          },
          {
            "name": "parameters_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Parameters Id"
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "geospatial bounding box of Min X, min Y, max X, max Y in WGS 84 coordinates. Up to 4 decimal points of precision, addtional decimal precision will be truncated to 4 decimal points precision e.g. -77.037,38.907,-77.0,39.910",
              "examples": ["-77.1200,38.7916,-76.9094,38.9955"],
              "title": "Bbox"
            },
            "description": "geospatial bounding box of Min X, min Y, max X, max Y in WGS 84 coordinates. Up to 4 decimal points of precision, addtional decimal precision will be truncated to 4 decimal points precision e.g. -77.037,38.907,-77.0,39.910"
          },
          {
            "name": "coordinates",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "WGS 84 Coordinate pair in form latitude,longitude. Supports up to 4 decimal points of precision, additional decimal precision will be truncated in the query e.g. 38.9074,-77.0373",
              "examples": ["38.907,-77.037"],
              "title": "Coordinates"
            },
            "description": "WGS 84 Coordinate pair in form latitude,longitude. Supports up to 4 decimal points of precision, additional decimal precision will be truncated in the query e.g. 38.9074,-77.0373"
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 25000,
                  "exclusiveMinimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search radius from coordinates as center in meters. Maximum of 25,000 (25km) defaults to 1000 (1km) e.g. radius=1000",
              "examples": ["1000"],
              "title": "Radius"
            },
            "description": "Search radius from coordinates as center in meters. Maximum of 25,000 (25km) defaults to 1000 (1km) e.g. radius=1000"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results",
              "examples": ["100"],
              "default": 100,
              "title": "Limit"
            },
            "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "examples": ["1"],
              "default": 1,
              "title": "Page"
            },
            "description": "Paginate through results. e.g. page=1 will return first page of results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/openaq_api__v3__models__responses__LocationsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/parameters/{parameters_id}": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get a parameter by ID",
        "description": "Provides a parameter by parameter ID",
        "operationId": "parameter_get_v3_parameters__parameters_id__get",
        "parameters": [
          {
            "name": "parameters_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Limit the results to a specific parameters id",
              "title": "Parameters Id"
            },
            "description": "Limit the results to a specific parameters id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/openaq_api__v3__models__responses__ParametersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/parameters": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get a parameters",
        "description": "Provides a list of parameters",
        "operationId": "parameters_get_v3_parameters_get",
        "parameters": [
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ParametersSortFields"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The field by which to order results",
              "examples": ["order_by=id"],
              "default": "id",
              "title": "Order By"
            },
            "description": "The field by which to order results"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort results ascending or descending. Default ASC",
              "examples": ["sort=desc"],
              "default": "asc",
              "title": "Sort Order"
            },
            "description": "Sort results ascending or descending. Default ASC"
          },
          {
            "name": "parameter_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ParameterType"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit the results to a specific parameters type",
              "examples": ["pollutant", "meteorological"],
              "title": "Parameter Type"
            },
            "description": "Limit the results to a specific parameters type"
          },
          {
            "name": "coordinates",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "WGS 84 Coordinate pair in form latitude,longitude. Supports up to 4 decimal points of precision, additional decimal precision will be truncated in the query e.g. 38.9074,-77.0373",
              "examples": ["38.907,-77.037"],
              "title": "Coordinates"
            },
            "description": "WGS 84 Coordinate pair in form latitude,longitude. Supports up to 4 decimal points of precision, additional decimal precision will be truncated in the query e.g. 38.9074,-77.0373"
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 25000,
                  "exclusiveMinimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search radius from coordinates as center in meters. Maximum of 25,000 (25km) defaults to 1000 (1km) e.g. radius=1000",
              "examples": ["1000"],
              "title": "Radius"
            },
            "description": "Search radius from coordinates as center in meters. Maximum of 25,000 (25km) defaults to 1000 (1km) e.g. radius=1000"
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "geospatial bounding box of Min X, min Y, max X, max Y in WGS 84 coordinates. Up to 4 decimal points of precision, addtional decimal precision will be truncated to 4 decimal points precision e.g. -77.037,38.907,-77.0,39.910",
              "examples": ["-77.1200,38.7916,-76.9094,38.9955"],
              "title": "Bbox"
            },
            "description": "geospatial bounding box of Min X, min Y, max X, max Y in WGS 84 coordinates. Up to 4 decimal points of precision, addtional decimal precision will be truncated to 4 decimal points precision e.g. -77.037,38.907,-77.0,39.910"
          },
          {
            "name": "iso",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit the results to a specific country using ISO 3166-1 alpha-2 code",
              "examples": ["US"],
              "title": "Iso"
            },
            "description": "Limit the results to a specific country using ISO 3166-1 alpha-2 code"
          },
          {
            "name": "countries_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit the results to a specific country or countries by country ID as a single country ID or a comma delimited list of IDs",
              "examples": ["1", "1,2,3"],
              "title": "Countries Id"
            },
            "description": "Limit the results to a specific country or countries by country ID as a single country ID or a comma delimited list of IDs"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results",
              "examples": ["100"],
              "default": 100,
              "title": "Limit"
            },
            "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "examples": ["1"],
              "default": 1,
              "title": "Page"
            },
            "description": "Paginate through results. e.g. page=1 will return first page of results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/openaq_api__v3__models__responses__ParametersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/countries/{countries_id}": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get a country by ID",
        "description": "Provides a country by country ID",
        "operationId": "country_get_v3_countries__countries_id__get",
        "parameters": [
          {
            "name": "countries_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Countries Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/openaq_api__v3__models__responses__CountriesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/countries": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get countries",
        "description": "Provides a list of countries",
        "operationId": "countries_get_v3_countries_get",
        "parameters": [
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/CountriesSortFields"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The field by which to order results",
              "examples": ["order_by=id"],
              "default": "id",
              "title": "Order By"
            },
            "description": "The field by which to order results"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort results ascending or descending. Default ASC",
              "examples": ["sort=desc"],
              "default": "asc",
              "title": "Sort Order"
            },
            "description": "Sort results ascending or descending. Default ASC"
          },
          {
            "name": "providers_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit the results to a specific provider or multiple providers  with a single provider ID or a comma delimited list of IDs",
              "examples": ["1", "1,2,3"],
              "title": "Providers Id"
            },
            "description": "Limit the results to a specific provider or multiple providers  with a single provider ID or a comma delimited list of IDs"
          },
          {
            "name": "parameters_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Parameters Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results",
              "examples": ["100"],
              "default": 100,
              "title": "Limit"
            },
            "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "examples": ["1"],
              "default": 1,
              "title": "Page"
            },
            "description": "Paginate through results. e.g. page=1 will return first page of results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/openaq_api__v3__models__responses__CountriesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/manufacturers/{manufacturers_id}": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get a manufacturer by ID",
        "description": "Provides a manufacturer by manufacturer ID",
        "operationId": "manufacturer_get_v3_manufacturers__manufacturers_id__get",
        "parameters": [
          {
            "name": "manufacturers_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Limit the results to a specific manufacturers id",
              "title": "Manufacturers Id"
            },
            "description": "Limit the results to a specific manufacturers id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManufacturersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/manufacturers": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get manufacturers",
        "description": "Provides a list of manufacturers",
        "operationId": "manufacturers_get_v3_manufacturers_get",
        "parameters": [
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ManufacturersSortFields"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The field by which to order results",
              "examples": ["order_by=id"],
              "default": "id",
              "title": "Order By"
            },
            "description": "The field by which to order results"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort results ascending or descending. Default ASC",
              "examples": ["sort=desc"],
              "default": "asc",
              "title": "Sort Order"
            },
            "description": "Sort results ascending or descending. Default ASC"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results",
              "examples": ["100"],
              "default": 100,
              "title": "Limit"
            },
            "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "examples": ["1"],
              "default": 1,
              "title": "Page"
            },
            "description": "Paginate through results. e.g. page=1 will return first page of results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManufacturersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/locations/{locations_id}/measurements": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get measurements by location (DEPRECATING - will be removed in future releases)",
        "description": "Provides a list of measurements by location ID",
        "operationId": "measurements_get_v3_locations__locations_id__measurements_get",
        "parameters": [
          {
            "name": "locations_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Limit the results to a specific location by id",
              "title": "Locations Id"
            },
            "description": "Limit the results to a specific location by id"
          },
          {
            "name": "period_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PeriodNames"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Period to aggregate. Month, day, hour, hour of day (hod), day of week (dow) and month of year (moy)",
              "default": "hour",
              "title": "Period Name"
            },
            "description": "Period to aggregate. Month, day, hour, hour of day (hod), day of week (dow) and month of year (moy)"
          },
          {
            "name": "parameters_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Parameters Id"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "To when?",
              "examples": ["2022-10-01T11:19:38-06:00", "2022-10-01"],
              "title": "Date To"
            },
            "description": "To when?"
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "From when?",
              "examples": ["2022-10-01T11:19:38-06:00", "2022-10-01"],
              "title": "Date From"
            },
            "description": "From when?"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results",
              "examples": ["100"],
              "default": 100,
              "title": "Limit"
            },
            "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "examples": ["1"],
              "default": 1,
              "title": "Page"
            },
            "description": "Paginate through results. e.g. page=1 will return first page of results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/openaq_api__v3__models__responses__MeasurementsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/owners/{owners_id}": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get a owner by ID",
        "description": "Provides a owner by owner ID",
        "operationId": "owner_get_v3_owners__owners_id__get",
        "parameters": [
          {
            "name": "owners_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Limit the results to a specific owner by id",
              "title": "Owners Id"
            },
            "description": "Limit the results to a specific owner by id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/owners": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get owners",
        "description": "Provides a list of owners",
        "operationId": "owners_get_v3_owners_get",
        "parameters": [
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/OwnersSortFields"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The field by which to order results",
              "examples": ["order_by=id"],
              "default": "id",
              "title": "Order By"
            },
            "description": "The field by which to order results"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort results ascending or descending. Default ASC",
              "examples": ["sort=desc"],
              "default": "asc",
              "title": "Sort Order"
            },
            "description": "Sort results ascending or descending. Default ASC"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results",
              "examples": ["100"],
              "default": 100,
              "title": "Limit"
            },
            "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "examples": ["1"],
              "default": 1,
              "title": "Page"
            },
            "description": "Paginate through results. e.g. page=1 will return first page of results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/locations/{locations_id}/trends/{measurands_id}": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get trends by location",
        "description": "Provides a list of aggregated measurements by location ID and factor",
        "operationId": "trends_get_v3_locations__locations_id__trends__measurands_id__get",
        "parameters": [
          {
            "name": "measurands_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Measurands Id"
            }
          },
          {
            "name": "locations_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Locations Id"
            }
          },
          {
            "name": "period_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PeriodNames"
                },
                {
                  "type": "null"
                }
              ],
              "default": "hour",
              "title": "Period Name"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Date To"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Date From"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "title": "Limit"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "title": "Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/providers/{providers_id}": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get a provider by ID",
        "description": "Provides a provider by provider ID",
        "operationId": "provider_get_v3_providers__providers_id__get",
        "parameters": [
          {
            "name": "providers_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Limit the results to a specific provider by id",
              "title": "Providers Id"
            },
            "description": "Limit the results to a specific provider by id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvidersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/providers": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get providers",
        "description": "Provides a list of providers",
        "operationId": "providers_get_v3_providers_get",
        "parameters": [
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ProvidersSortFields"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The field by which to order results",
              "examples": ["order_by=id"],
              "default": "id",
              "title": "Order By"
            },
            "description": "The field by which to order results"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sort results ascending or descending. Default ASC",
              "examples": ["sort=desc"],
              "default": "asc",
              "title": "Sort Order"
            },
            "description": "Sort results ascending or descending. Default ASC"
          },
          {
            "name": "parameters_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Parameters Id"
            }
          },
          {
            "name": "monitor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Is the location considered a reference monitor?",
              "title": "Monitor"
            },
            "description": "Is the location considered a reference monitor?"
          },
          {
            "name": "iso",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit the results to a specific country using ISO 3166-1 alpha-2 code",
              "examples": ["US"],
              "title": "Iso"
            },
            "description": "Limit the results to a specific country using ISO 3166-1 alpha-2 code"
          },
          {
            "name": "countries_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit the results to a specific country or countries by country ID as a single country ID or a comma delimited list of IDs",
              "examples": ["1", "1,2,3"],
              "title": "Countries Id"
            },
            "description": "Limit the results to a specific country or countries by country ID as a single country ID or a comma delimited list of IDs"
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "geospatial bounding box of Min X, min Y, max X, max Y in WGS 84 coordinates. Up to 4 decimal points of precision, addtional decimal precision will be truncated to 4 decimal points precision e.g. -77.037,38.907,-77.0,39.910",
              "examples": ["-77.1200,38.7916,-76.9094,38.9955"],
              "title": "Bbox"
            },
            "description": "geospatial bounding box of Min X, min Y, max X, max Y in WGS 84 coordinates. Up to 4 decimal points of precision, addtional decimal precision will be truncated to 4 decimal points precision e.g. -77.037,38.907,-77.0,39.910"
          },
          {
            "name": "coordinates",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "WGS 84 Coordinate pair in form latitude,longitude. Supports up to 4 decimal points of precision, additional decimal precision will be truncated in the query e.g. 38.9074,-77.0373",
              "examples": ["38.907,-77.037"],
              "title": "Coordinates"
            },
            "description": "WGS 84 Coordinate pair in form latitude,longitude. Supports up to 4 decimal points of precision, additional decimal precision will be truncated in the query e.g. 38.9074,-77.0373"
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 25000,
                  "exclusiveMinimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search radius from coordinates as center in meters. Maximum of 25,000 (25km) defaults to 1000 (1km) e.g. radius=1000",
              "examples": ["1000"],
              "title": "Radius"
            },
            "description": "Search radius from coordinates as center in meters. Maximum of 25,000 (25km) defaults to 1000 (1km) e.g. radius=1000"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results",
              "examples": ["100"],
              "default": 100,
              "title": "Limit"
            },
            "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "examples": ["1"],
              "default": 1,
              "title": "Page"
            },
            "description": "Paginate through results. e.g. page=1 will return first page of results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvidersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/sensors/{sensors_id}/measurements": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get measurements by sensor ID",
        "description": "Provides a list of measurements by sensor ID",
        "operationId": "sensor_measurements_get_v3_sensors__sensors_id__measurements_get",
        "parameters": [
          {
            "name": "sensors_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Limit the results to a specific sensors id",
              "title": "Sensors Id"
            },
            "description": "Limit the results to a specific sensors id"
          },
          {
            "name": "period_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PeriodNames"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Period to aggregate. Month, day, hour, hour of day (hod), day of week (dow) and month of year (moy)",
              "default": "hour",
              "title": "Period Name"
            },
            "description": "Period to aggregate. Month, day, hour, hour of day (hod), day of week (dow) and month of year (moy)"
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "To when?",
              "examples": ["2022-10-01T11:19:38-06:00", "2022-10-01"],
              "title": "Date To"
            },
            "description": "To when?"
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "From when?",
              "examples": ["2022-10-01T11:19:38-06:00", "2022-10-01"],
              "title": "Date From"
            },
            "description": "From when?"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results",
              "examples": ["100"],
              "default": 100,
              "title": "Limit"
            },
            "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "examples": ["1"],
              "default": 1,
              "title": "Page"
            },
            "description": "Paginate through results. e.g. page=1 will return first page of results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/openaq_api__v3__models__responses__MeasurementsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/locations/{locations_id}/sensors": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get sensors by location ID",
        "description": "Provides a list of sensors by location ID",
        "operationId": "sensors_get_v3_locations__locations_id__sensors_get",
        "parameters": [
          {
            "name": "locations_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Limit the results to a specific sensors id",
              "title": "Locations Id"
            },
            "description": "Limit the results to a specific sensors id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SensorsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v3/sensors/{sensors_id}": {
      "get": {
        "tags": ["v3-alpha"],
        "summary": "Get a sensor by ID",
        "description": "Provides a sensor by sensor ID",
        "operationId": "sensor_get_v3_sensors__sensors_id__get",
        "parameters": [
          {
            "name": "sensors_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Limit the results to a specific sensors id",
              "title": "Sensors Id"
            },
            "description": "Limit the results to a specific sensors id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SensorsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/averages": {
      "get": {
        "tags": ["v2"],
        "summary": "Get averaged values",
        "operationId": "averages_v2_get_v2_averages_get",
        "parameters": [
          {
            "name": "temporal",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PeriodNames"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Period to aggregate. month, day, hour",
              "default": "hour",
              "title": "Temporal"
            },
            "description": "Period to aggregate. month, day, hour"
          },
          {
            "name": "parameters_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "What measurand would you like?",
              "title": "Parameters Id"
            },
            "description": "What measurand would you like?"
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "To when?",
              "examples": ["2022-10-01T11:19:38-06:00", "2022-10-01"],
              "title": "Date To"
            },
            "description": "To when?"
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "From when?",
              "examples": ["2022-10-01T11:19:38-06:00", "2022-10-01"],
              "title": "Date From"
            },
            "description": "From when?"
          },
          {
            "name": "locations_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Limit the results to a specific location by id",
              "default": 70084,
              "title": "Locations Id"
            },
            "description": "Limit the results to a specific location by id"
          },
          {
            "name": "spatial",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SpatialTypes"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Define how you want to aggregate in space",
              "default": "location",
              "title": "Spatial"
            },
            "description": "Define how you want to aggregate in space"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results",
              "examples": ["100"],
              "default": 100,
              "title": "Limit"
            },
            "description": "Change the number of results returned.\n        e.g. limit=100 will return up to 100 results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "examples": ["1"],
              "default": 1,
              "title": "Page"
            },
            "description": "Paginate through results. e.g. page=1 will return first page of results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AveragesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cities": {
      "get": {
        "tags": ["v2"],
        "summary": "Get cities",
        "description": "Provides a list of cities supported by the platform",
        "operationId": "cities_get_v2_cities_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
              "examples": ["1000"],
              "default": 100,
              "title": "Limit"
            },
            "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "examples": ["1"],
              "default": 1,
              "title": "Page"
            },
            "description": "Paginate through results. e.g. page=1 will return first page of results"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Define sort order. e.g. ?sort=asc",
              "default": "asc",
              "title": "Sort"
            },
            "description": "Define sort order. e.g. ?sort=asc"
          },
          {
            "name": "country_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results by a certain country using two digit country ID. e.g. 13",
              "examples": [13],
              "title": "Country Id"
            },
            "description": "Limit results by a certain country using two digit country ID. e.g. 13"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results by a certain country using two letter country code. e.g. ?country=US or ?country=US&country=MX",
              "examples": ["US"],
              "title": "Country"
            },
            "description": "Limit results by a certain country using two letter country code. e.g. ?country=US or ?country=US&country=MX"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results by a certain city or cities. (e.g. ?city=Chicago or ?city=Chicago&city=Boston)",
              "examples": ["Chicago"],
              "title": "City"
            },
            "description": "Limit results by a certain city or cities. (e.g. ?city=Chicago or ?city=Chicago&city=Boston)"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CitiesOrder"
                }
              ],
              "description": "Order by a field e.g. ?order_by=city",
              "examples": ["city"],
              "default": "city",
              "title": "Order By"
            },
            "description": "Order by a field e.g. ?order_by=city"
          },
          {
            "name": "entity",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Entity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cities": {
      "get": {
        "tags": ["v1"],
        "summary": "Get cities",
        "description": "Provides a list of cities supported by the platform",
        "operationId": "cities_getv1_v1_cities_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
              "examples": ["1000"],
              "default": 100,
              "title": "Limit"
            },
            "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "examples": ["1"],
              "default": 1,
              "title": "Page"
            },
            "description": "Paginate through results. e.g. page=1 will return first page of results"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Define sort order. e.g. ?sort=asc",
              "default": "asc",
              "title": "Sort"
            },
            "description": "Define sort order. e.g. ?sort=asc"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CitiesOrderV1"
                }
              ],
              "description": "Order by a field e.g. ?order_by=city",
              "examples": ["city"],
              "default": "city",
              "title": "Order By"
            },
            "description": "Order by a field e.g. ?order_by=city"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results by a certain country using two letter country code. e.g. ?country=US or ?country=US&country=MX",
              "examples": ["US"],
              "title": "Country"
            },
            "description": "Limit results by a certain country using two letter country code. e.g. ?country=US or ?country=US&country=MX"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesResponseV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/countries/{country_id}": {
      "get": {
        "tags": ["v2"],
        "summary": "Get country by ID",
        "description": "Provides a single country by country ID",
        "operationId": "countries_by_path_v2_countries__country_id__get",
        "parameters": [
          {
            "name": "country_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Country Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Limit the number of results returned. e.g. limit=100 will return up to 100 results",
              "examples": ["100"],
              "default": 100,
              "title": "Limit"
            },
            "description": "Limit the number of results returned. e.g. limit=100 will return up to 100 results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "examples": ["1"],
              "default": 1,
              "title": "Page"
            },
            "description": "Paginate through results. e.g. page=1 will return first page of results"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Define sort order. e.g. ?sort=asc",
              "default": "asc",
              "title": "Sort"
            },
            "description": "Define sort order. e.g. ?sort=asc"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CountriesOrder"
                }
              ],
              "description": "Order by a field e.g. ?order_by=name",
              "examples": ["name"],
              "default": "name",
              "title": "Order By"
            },
            "description": "Order by a field e.g. ?order_by=name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/openaq_api__models__responses__CountriesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/countries/{country_id}": {
      "get": {
        "tags": ["v1"],
        "summary": "Get country by ID",
        "description": "Provides a single country by country ID",
        "operationId": "countries_by_path_v1_countries__country_id__get",
        "parameters": [
          {
            "name": "country_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Country Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Limit the number of results returned. e.g. limit=100 will return up to 100 results",
              "examples": ["100"],
              "default": 100,
              "title": "Limit"
            },
            "description": "Limit the number of results returned. e.g. limit=100 will return up to 100 results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "examples": ["1"],
              "default": 1,
              "title": "Page"
            },
            "description": "Paginate through results. e.g. page=1 will return first page of results"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Define sort order. e.g. ?sort=asc",
              "default": "asc",
              "title": "Sort"
            },
            "description": "Define sort order. e.g. ?sort=asc"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CountriesOrder"
                }
              ],
              "description": "Order by a field e.g. ?order_by=name",
              "examples": ["name"],
              "default": "name",
              "title": "Order By"
            },
            "description": "Order by a field e.g. ?order_by=name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/openaq_api__models__responses__CountriesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/countries": {
      "get": {
        "tags": ["v2"],
        "summary": "Get countries",
        "description": "Provides a list of countries",
        "operationId": "countries_get_v2_countries_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "title": "Limit"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                },
                {
                  "type": "null"
                }
              ],
              "default": "asc",
              "title": "Sort"
            }
          },
          {
            "name": "country_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Country Id"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CountriesOrder"
                }
              ],
              "default": "name",
              "title": "Order By"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Country"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/openaq_api__models__responses__CountriesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/countries": {
      "get": {
        "tags": ["v1"],
        "summary": "Get countries",
        "description": "Providecs a list of countries",
        "operationId": "countries_getv1_v1_countries_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "title": "Limit"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                },
                {
                  "type": "null"
                }
              ],
              "default": "asc",
              "title": "Sort"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CountriesOrderV1"
                }
              ],
              "default": "code",
              "title": "Order By"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountriesResponseV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/locations/{location_id}": {
      "get": {
        "tags": ["v2"],
        "summary": "Get a location by ID",
        "description": "Provides a location by location ID",
        "operationId": "get_v2_location_by_id_v2_locations__location_id__get",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The ID of the location",
              "title": "Location Id"
            },
            "description": "The ID of the location"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
              "examples": ["1000"],
              "default": 100,
              "title": "Limit"
            },
            "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Paginate through results. e.g. page=1 will return first page of results",
              "examples": ["1"],
              "default": 1,
              "title": "Page"
            },
            "description": "Paginate through results. e.g. page=1 will return first page of results"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Sort"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Define sort order. e.g. ?sort=asc",
              "default": "asc",
              "title": "Sort"
            },
            "description": "Define sort order. e.g. ?sort=asc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/openaq_api__models__responses__LocationsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/locations": {
      "get": {
        "tags": ["v2"],
        "summary": "Get locations",
        "description": "Provides a list of locations",
        "operationId": "locations_get_v2_locations_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results",
              "examples": ["1000"],
              "default": 100,
              "title": "Limit"
            },
            "description": "Change the number of results returned. e.g. limit=1000 will return up to 1000 results"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
[...]
